=content_for(:title, "Login")
.mat-card
  %h3= "Login"
  = form_for(:session, url: login_url) do |f|

    = f.label :email, for: "something", id: "email" 
    = f.email_field :email, autofocus: true

    = f.label :password 
    = f.password_field :password

    = f.submit "Log in" 
  %p New user? #{link_to "Sign up", signup_path} 
