=content_for(:title, "Edit your profile")
.mat-card
  %h3 Edit your profile
  = form_for(@user) do |f|
    = render 'shared/error_messages', object: f.object
    
    = f.label :name
    = f.text_field :name, :class => 'text-input', autofocus: true
    
    = f.label :email
    = f.email_field :email, :class => 'text-input'

    = f.submit "Save Changes", class: "form-submit"
