=content_for(:title, "Sign up")
.mat-card
  %h3= "Sign-up"
  = form_for(@user) do |f| 
    = render 'shared/error_messages', object: f.object

    = f.label :name
    = f.text_field :name, :class => 'text-input', autofocus: true

    = f.label :email 
    = f.email_field :email, :class => 'text-input'

    = f.label :password 
    = f.password_field :password, :class => 'text-input'

    = f.label :password_confirmation 
    = f.password_field :password_confirmation, :class => 'text-input'

    = f.label :access_code
    = f.text_field :code, :class => 'text-input'

    = f.submit "Sign up", class: "form-submit"
