.mat-card
  -if post.title?
    %h3= post.title
  %span.post-title
    =link_to post.user.name, post.user
  %span.timestamp{:style => "display: inline;"}
    %small  
      =time_ago_in_words(post.created_at)
  -if post.event?
    -Time::DATE_FORMATS[:custom_long_ordinal] = "%B %e, %l:%M %p"
    .event-info= "Where: #{post.event_location}"
    .event-info= "When: #{post.event_time.to_formatted_s(:custom_long_ordinal)}"
  %p.content{:style => "display: block;"}
    =raw Rinku.auto_link(post.content, mode=:all, link_attr=nil, skip_tags=nil)
  =image_tag(post.picture.url, :class => "picture") if post.picture?
  -if current_user?(post.user) || current_user.admin?
    %span
      %small
        =link_to "delete", post, method: :delete, data: { confirm: "Are you sure?"}
  //fix this so we're not looking up pins twice
  -unless post.admin_pinned && !current_user.admin?
    %span
      %small 
        -pin = Pin.where('user_id = ? AND post_id = ?', current_user.id, post.id).first
        -if pin.nil?
          =render 'posts/pin', :locals => { :post => post }
        -else
          =render 'posts/unpin', :locals => { :pin => pin } 
  =render Reply.where(post: post)
  =render 'shared/reply_form', post: post 
