!!! 5
%html
  %head
    %title= "#{APP_NAME} | " << yield(:title)
    %meta{ :content => 'width=device-width, initial-scale=1 user-scalable=0', :name => 'viewport' } 
    %link{ :href => 'http://fonts.googleapis.com/css?family=Roboto', :rel => 'stylesheet' } 
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/ie_shim'
    -imageclass = "image-#{rand(5)}"
    :css
      body {
        font-family: 'Roboto';
      } 
  %body{:class => imageclass }
    =render 'layouts/header'
    .push
    - flash.each do |message_type, message| 
      .mat-card.alert{ :class => "alert-#{message_type}"}=message
    =yield 

    -if Rails.env.development? 
      .mat-card 
        =debug(params)
    =render 'layouts/footer'   
